.menu{
    z-index: 1000;
    position: absolute;
    bottom : 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.menu button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.menu button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}