@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*

make the music component appear in the middle of the screen
*/

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.music{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    box-sizing: border-box;
    overflow: hidden;
    animation: fadeIn 0.7s ease-in-out;
}

.background-image{
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: blur(10px);
}

.music-container{
    position: absolute;
    width: 500px;
    height: 500px;
    padding: 3rem 0;
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.music-container img{
    width: 400px;
    flex-grow: 1;
    height: 400px;
    
    object-fit: cover;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 10px;
    user-select: none;


    
    
}

.music-controls{
    
    flex-shrink: 1;
    width: 100%;
    
    height: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    margin-top: 2rem;
}

.music-controls .music-name{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin: 10px 0;
    font-family: 'Inter', sans-serif;
}


.music-controls .slider{
    width: 400px;
    
}

.music-duration {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin: 10px 0;
    font-family: 'Inter', sans-serif;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
}


.stop-and-sound{
    width: fit-content;
    margin: 1rem 1rem;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.stop-and-sound button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    user-select: none;
}





@media screen and (max-width: 768px){
    .music{
        padding: 0;
        height: 100vh;

    }

    .music-container{
        width: 300px;
        height: 300px;
        padding: 0;
    }

    .music-container img{
        width: 300px;
        height: 300px;
        margin-left: 0;
        margin-right: 0;
    }

    .music-controls .slider{
        width: 300px;
    }

    .stop-and-sound{
        width: 100%;
        height: 10%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .stop-and-sound button{
        width: 40px;
        height: 40px;
    }

    .music-controls .music-name{
        font-size: 1rem;
    }

    .music-controls .music-duration{
        font-size: 0.8rem;
        width: 300px;
    }
}
  





input[type=range] {
    -webkit-appearance: none;
    border-radius: 10px;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: white;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
   
    height: 14px;
    width: 3px;
    

    background: rgb(65, 65, 65);
    cursor: pointer;
    -webkit-appearance: none;
    transition: all 0.2s ease-in-out;
   
  }

  input[type=range]:hover::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
   
    height: 14px;
    width: 10px;
    

    background: rgb(65, 65, 65);
    cursor: pointer;
   
   
  }


  input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: white;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: black;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #ac51b5;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #ac51b5;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #65001c;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3c393c;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #3c393c;
  }
  

  