@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}



.range input{
	-webkit-appearance:none;
	height:4px;
	border-radius:5px;
	background-color: white;
	outline:none;
}
.range input::-webkit-slider-thumb{
	-webkit-appearance:none;
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:white
}
